{% extends 'framework/template.html' %}

{% load static %}

{# html title #}
{% block title %}

{% endblock %}

{# css refrence #}
{% block css %}

{% endblock %}

{# header dom #}
{% block header %}
    <div class="container">
        {% if header %}
            {% for child in header.children %}
                {% ifequal child.name 'navigation' %}
                    {% with child as navigation %}
                        {% include 'framework/template-navigation.html' %}
                    {% endwith %}
                {% endifequal %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{# content dom #}
{% block content %}
    <div class="container" style="margin-top: 60px">
    <div class="row">
        {% if content %}
            {% for child in content.children %}
                {% ifequal child.name 'breadcrumb' %}
                    {% with child as breadcrumb %}
                        <div class="col-xs-12" style="padding-left: 0">
                            {% include 'framework/template-breadcrumb.html' %}
                        </div>
                    {% endwith %}
                {% endifequal %}
            {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock %}

{# footer dom #}
{% block footer %}

{% endblock %}

{# javascript function #}
{% block js %}

{% endblock %}
